/// 重置（css => m、p）
@mixin reset-mp{
  margin: 0; padding: 0;
}

/// 重置（el => h）
@mixin reset-h{
  @extend %EL-H;
}

/// 上下定位居中
@mixin v-middle($mode: t){
  position: absolute;
  @if $mode == m {
    margin: auto; top: 0; bottom: 0;
  } @else if $mode == t {
    top: 50%; transform: translateY(-50%); transform-style: preserve-3d;
  }
  @content;
}

/// 等比设值
@mixin el-ratio($value: $root-icon, $mode: 1){
  width: $value;
  @if $mode >= 0 {
    height: $value;
  }
  @if $mode <= 0 {
    line-height: $value;
  }
}

/// 行内 icon
@mixin el-icon($value: $root-icon, $is: true){
  @include el-ratio($value, 0);
  @if $is == true {
    @extend %PSEUDO-ICON;
  }
  @content;
}

/// 清除 first-child 上边距影响
@mixin clear-mtop{
  @include before(null){
    @extend %PSEUDO-TABLE;
  }
}

/// 清除浮动影响
@mixin clear-float{
  @include after(null){
    @extend %PSEUDO-TABLE;
  }
}

/// 设置 placeholder
@mixin root-placeholder($color: $placeholder-color){
  &::-webkit-input-placeholder{
      color: $color;
      @content;
  }
  &::-moz-placeholder{
      opacity: 1 !important; color: $color;
      @content;
  }
  &:-ms-input-placeholder{
      color: $color;
      @content;
  }
}

/// 基准过渡
@mixin root-transition($duration: $root-duration){
  transition: $duration;
}

/// 基准动画
@mixin root-animation($name, $duration: $root-duration){
  animation: $name $duration;
}

/// 隐藏多余元素
@mixin hide-over($n){
  &:nth-child(n + #{$n}){
    display: none;
    @content;
  }
}

/// 省略号
@mixin root-ellipsis{
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

/// 多行省略号
@mixin root-omitted{
  @include root-ellipsis;
  display: -webkit-box; -webkit-line-clamp: $lines; -webkit-box-orient: vertical;
}